# üéì **Maestr√≠a en Inteligencia Artificial Aplicada**



[![Institution](https://img.shields.io/badge/Institution-Tecnol√≥gico%20de%20Monterrey-1F497D?style=for-the-badge&logo=graduation-cap)](https://tec.mx)




---

## **Proyecto Integrador**

### **Profesores**
- **Profesor Titular:** Dra. Grettel Barcel√≥ Alonso
- **Director Nacional de MNA:** Dr. Luis Eduardo Falc√≥n Morales
- **Profra. Asistente:** Mtra. Ver√≥nica Sandra Guzm√°n de Valle

### **Patrocinadores**
- **L√≠der del Proyecto IMSS:** Dra. Ruth P√©rez-Hern√°ndez
- **Investigadora en Psiquiatr√≠a:** Dra. Lina D√≠az Castro:

---

## **Equipo #1**

### üöÄ **Nuestro Equipo**

<table style="width:100%; border:none;">
<tr>
<td style="text-align:center; border:none; padding:20px;">

### **Javier Augusto Rebull Saucedo**
<img src="https://iili.io/KuvsGKx.png" alt="Javier Augusto Rebull Saucedo" width="180">

**Matr√≠cula:** `A01795838`  
üéì MNA Student
</td>
<td style="text-align:center; border:none; padding:20px;">

### **Juan Carlos P√©rez Nava**
<img src="https://iili.io/KuvP4gp.png" alt="Juan Carlos P√©rez Nava" width="180">

**Matr√≠cula:** `A01795941`  
üéì MNA Student

</td>
<td style="text-align:center; border:none; padding:20px;">

### **Luis Gerardo S√°nchez Salazar**
<img src="https://iili.io/KuvLaJp.png" alt="Luis Gerardo S√°nchez Salazar" width="180">

**Matr√≠cula:** `A01232963`  
üéì MNA Student
</td>
</tr>
</table>

# **Antecedentes**

Los datos utilizados en este proyecto provienen del **Bolet√≠n Epidemiol√≥gico** publicado por la **Direcci√≥n General de Epidemiolog√≠a** en M√©xico. Este bolet√≠n se actualiza de forma **semanal** a trav√©s del **Sistema Nacional de Vigilancia Epidemiol√≥gica (SINAVE)**, y contiene informaci√≥n oficial sobre el comportamiento de distintas enfermedades a nivel nacional y por entidad federativa.

La fuente oficial de descarga y consulta es el portal del Gobierno de M√©xico:  
https://www.gob.mx/salud/acciones-y-programas/direccion-general-de-epidemiologia-boletin-epidemiologico

Este proyecto fue realizado acad√©micamente en colaboraci√≥n del **Tecnol√≥gico de Monterrey** y el **IMSS**, como parte del curso de **Proyecto Integrador** de la **Maestr√≠a en Inteligencia Artificial Aplicada (MNA)**, durante el periodo **Enero‚ÄìAbril 2026**.

---

# **Introducci√≥n**

El Bolet√≠n Epidemiol√≥gico se publica en formato PDF y, aunque es una fuente confiable, presenta retos t√©cnicos importantes para su an√°lisis automatizado: variaciones de formato entre a√±os, tablas con estructura no uniforme, y diferencias en c√≥mo aparecen los n√∫meros y encabezados.

Por esta raz√≥n, este notebook implementa un flujo reproducible para **descargar, leer, limpiar y transformar** la informaci√≥n contenida en los PDFs, con el fin de construir un dataset consolidado que pueda ser utilizado en etapas posteriores de an√°lisis estad√≠stico y modelado predictivo.

---

# **Objetivo del Notebook**

El objetivo principal de este notebook es desarrollar un pipeline que permita:

- **Extraer autom√°ticamente** la informaci√≥n relevante desde los PDFs del Bolet√≠n Epidemiol√≥gico  
- **Estandarizar el formato** de las tablas para evitar inconsistencias entre a√±os  
- **Transformar los datos** a un dataset estructurado y escalable (formato long)  
- **Habilitar una GUI** que permita actualizar el dataset f√°cilmente conforme se publique nueva informaci√≥n semanal, manteni√©ndolo lo m√°s actualizado posible

Este enfoque busca que el proceso sea **repetible, mantenible y extensible**, facilitando futuras etapas de limpieza avanzada y el desarrollo de modelos de **series de tiempo** para pron√≥stico.

---

# **Descarga de PDFs desde Google Drive (Colab)**

**Objetivo:** bajar todos los archivos de una carpeta de Drive a `/content/pdf`.

**Entrada:**
- `FOLDER_URL`: link de la carpeta de Google Drive

**Proceso:**
- Instala `gdown`
- Crea `/content/pdf`
- Descarga el folder completo al directorio local

**Salida:**
- PDFs disponibles en: `/content/pdf`

In [2]:
import os

# Crear carpeta local (ajusta la ruta seg√∫n tu proyecto)
os.makedirs("data/raw/pdf", exist_ok=True)

FOLDER_URL = "https://drive.google.com/drive/folders/18XmOTIIiJUghy_YriJtcww2dggjRjYpT?usp=drive_link"

# En notebook de VS Code usa ! o %
!gdown --folder "{FOLDER_URL}" -O data/raw/pdf

Retrieving folder contents
Processing file 1jh8Z3xb-Dc-_wmmsXXfb031p2g0NGqea 2014_sem01.pdf
Processing file 1VepXMOXr8lMOEtB96wwhlDSuDaq9hMCj 2014_sem05.pdf
Processing file 1BSpsrzU-4vG_BsLXhLz96GT__6yu3Ui5 2014_sem31.pdf
Processing file 1WfDucs94gQkeuJOaPscdpgBjZrACV8gy 2015_sem46.pdf
Processing file 1ggPHOQiaqNJQ1Q0be93kNpmpoY0tvCWf 2016_sem50.pdf
Processing file 141buDnwwNaeRYVqeIpcQYI_rgCuxWRCb 2017_sem23.pdf
Processing file 1RMD_mjg9fxkvb7dJo9HFxpPrq7lZhFBU 2025_sem01.pdf
Processing file 1aLhuJYlhxchfMWtLUwTJN2N2i6xH-Nx2 2025_sem02.pdf
Processing file 1YKr3gEExyCvFwb-SjUEXB88sTvIDRvu8 2025_sem48.pdf
Retrieving folder contents completed
Building directory structure
Building directory structure completed
Downloading...
From: https://drive.google.com/uc?id=1jh8Z3xb-Dc-_wmmsXXfb031p2g0NGqea
To: /Users/haowei/Documents/Integrador/EpiForecast-MX/notebooks/data/raw/pdf/2014_sem01.pdf
100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 560k/560k [00:00<00:00, 6.62MB/s]
Downloading...
From: https://drive.google.com/uc?id=1VepXMOXr8lMOEtB96wwhlDSuDaq9hMCj
To: /Users/haowei/Documents/Integrador/EpiForecast-MX/notebooks/data/raw/pdf/2014_sem05.pdf
100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 831k/831k [00:00<00:00, 6.85MB/s]
Downloading...
From: https://drive.google.com/uc?id=1BSpsrzU-4vG_BsLXhLz96GT__6yu3Ui5
To: /Users/haowei/Documents/Integrador/EpiForecast-MX/notebooks/data/raw/pdf/2014_sem31.pdf
100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 896k/896k [00:00<00:00, 7.19MB/s]
Downloading...
From: https://drive.google.com/uc?id=1WfDucs94gQkeuJOaPscdpgBjZrACV8gy
To: /Users/haowei/Documents/Integrador/EpiForecast-MX/notebooks/data/raw/pdf/2015_sem46.pdf
100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 603k/603k [00:00<00:00, 5.68MB/s]
Downloading...
From: https://drive.google.com/uc?id=1ggPHOQiaqNJQ1Q0be93kNpmpoY0tvCWf
To: /Users/haowei/Documents/Integrador/EpiForecast-MX/notebooks/data/raw/pdf/2016_sem50.pdf
100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 796k/796k [00:00<00:00, 6.44MB/s]
Downloading...
From: https://drive.google.com/uc?id=141buDnwwNaeRYVqeIpcQYI_rgCuxWRCb
To: /Users/haowei/Documents/Integrador/EpiForecast-MX/notebooks/data/raw/pdf/2017_sem23.pdf
100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 701k/701k [00:00<00:00, 6.43MB/s]
Downloading...
From: https://drive.google.com/uc?id=1RMD_mjg9fxkvb7dJo9HFxpPrq7lZhFBU
To: /Users/haowei/Documents/Integrador/EpiForecast-MX/notebooks/data/raw/pdf/2025_sem01.pdf
100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 2.03M/2.03M [00:00<00:00, 8.25MB/s]
Downloading...
From: https://drive.google.com/uc?id=1aLhuJYlhxchfMWtLUwTJN2N2i6xH-Nx2
To: /Users/haowei/Documents/Integrador/EpiForecast-MX/notebooks/data/raw/pdf/2025_sem02.pdf
100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 2.12M/2.12M [00:00<00:00, 8.99MB/s]
Downloading...
From: https://drive.google.com/uc?id=1YKr3gEExyCvFwb-SjUEXB88sTvIDRvu8
To: /Users/haowei/Documents/Integrador/EpiForecast-MX/notebooks/data/raw/pdf/2025_sem48.pdf
100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 2.44M/2.44M [00:00<00:00, 11.4MB/s]
Download completed

# **Listado de PDFs descargados**

**Objetivo:** detectar y listar todos los archivos `.pdf` dentro de `/content/pdf`.

**Entrada:**
- Carpeta local: `/content/pdf`

**Proceso:**
- Filtra solo archivos que terminen en `.pdf` (case-insensitive)
- Ordena alfab√©ticamente para mantener consistencia

**Salida:**
- `pdf`: lista con nombres de archivos PDF
- Imprime el total y el listado completo

In [4]:
pdf = sorted([f for f in os.listdir("data/raw/pdf") if f.lower().endswith(".pdf")])
print(f"Found {len(pdf)} PDFs")
print("\n".join(pdf))

Found 9 PDFs
2014_sem01.pdf
2014_sem05.pdf
2014_sem31.pdf
2015_sem46.pdf
2016_sem50.pdf
2017_sem23.pdf
2025_sem01.pdf
2025_sem02.pdf
2025_sem48.pdf

# **Instalaci√≥n + imports (Camelot + PyPDF)**

**Objetivo:** preparar el entorno para leer PDFs y extraer tablas.

**Entrada:**
- Runtime de Colab (Linux)

**Proceso:**
- Instala `ghostscript` (requerido por Camelot)
- Instala `camelot-py` y `pypdf`
- Importa m√≥dulos para regex, manejo de dataframes y lectura/escritura de PDF

**Salida:**
- `camelot` listo para extraer tablas
- `PdfReader/PdfWriter` listos para leer y generar PDFs

In [5]:
import re
import pandas as pd
import camelot
from pypdf import PdfReader, PdfWriter

# **Detecci√≥n de p√°gina + extracci√≥n de A√±o/Semana**

**Objetivo:** encontrar la p√°gina "buena" del PDF (donde vienen las 3 enfermedades) y extraer `A√±o` y `Semana`.

**Entrada:**
- `pdf_path`: ruta del PDF
- `KEYWORDS`: lista de palabras clave obligatorias (todas deben aparecer)

**Proceso:**
- Lee el PDF con `PdfReader`
- Recorre cada p√°gina y extrae su texto
- Valida que existan todas las keywords en la misma p√°gina
- Aplica 2 regex posibles para capturar `Semana` y `A√±o`:
  - `SEMANA_REGEX`: detecta formato tipo **"Semana 12 ... 2024"**
  - `SEMANA_REGEX_2`: detecta formato tipo **"semana epidemiol√≥gica 42 del 2024"**
- Si hay keywords pero no hay match, devuelve `8888` y `99` como bandera de error

**Salida:**
- `(page, year, week)` si se encuentra
- `(None, None, None)` si no se encuentra ninguna p√°gina v√°lida

In [6]:
KEYWORDS = ["Depresi√≥n", "Parkinson", "Alzheimer"]  # deben aparecer juntas en la misma p√°gina

SEMANA_REGEX = re.compile(r"Semana\s+(\d{1,2}).*?(\d{4})", re.IGNORECASE)  # "Semana 12 ... 2024"
SEMANA_REGEX_2 = re.compile(r"semana\s+epidemiol[o√≥]gica\s+(\d{1,2})\s+del\s+(\d{4})", re.IGNORECASE)  # "semana epidemiol√≥gica 42 del 2024"

def find_page_and_week(pdf_path, KEYWORDS):
    reader = PdfReader(pdf_path)  # abre el PDF
    for i, page in enumerate(reader.pages):  # recorre p√°ginas
        text = page.extract_text() or ""  # extrae texto (si falla, string vac√≠o)
        if all(k.lower() in text.lower() for k in KEYWORDS):  # valida presencia de TODAS las keywords
            m = SEMANA_REGEX.search(text)  # busca patr√≥n tipo "Semana 12 ... 2024"
            if m: week, year = m.groups(); return i + 1, int(year), int(week)  # i+1 = p√°gina humana (1-based)
            m2 = SEMANA_REGEX_2.search(text)  # busca patr√≥n tipo "semana epidemiol√≥gica 42 del 2024"
            if m2: week2, year2 = m2.groups(); return i + 1, int(year2), int(week2) + 1  # +1 por tu ajuste
            return i + 1, 8888, 99  # encontr√≥ keywords pero no pudo extraer semana/a√±o
    return None, None, None  # no encontr√≥ p√°gina con las keywords

# **Detecci√≥n masiva de p√°gina + A√±o/Semana (por PDF)**

**Objetivo:** correr `find_page_and_week()` sobre todos los PDFs descargados y guardar el resultado en una tabla.

**Entrada:**
- `pdf`: lista de nombres de PDFs en `/content/pdf`
- `KEYWORDS`: palabras clave obligatorias
- `find_page_and_week(pdf_path, KEYWORDS)`

**Proceso:**
- Recorre cada archivo PDF
- Detecta `(p√°gina, a√±o, semana)` en la p√°gina que contiene las keywords
- Guarda todo en `results` como tuplas
- Convierte a `df_results` para visualizarlo f√°cil

**Salida:**
- `results`: lista de tuplas `(Archivo, P√°gina, A√±o, Semana)`
- `df_results`: DataFrame con columnas legibles para validar r√°pido

In [7]:
PDF_DIR = "data/raw/pdf"

results = []
for f in pdf:
    page, year, week = find_page_and_week(f"{PDF_DIR}/{f}", KEYWORDS)
    results.append((f, page, year, week))

df_results = pd.DataFrame(results, columns=["Archivo", "P√°gina detectada", "A√±o", "Semana"])
df_results  # en VS Code notebooks esto muestra la tabla

          Archivo  P√°gina detectada   A√±o  Semana
0  2014_sem01.pdf                 3  2014       1
1  2014_sem05.pdf                58  2014       5
2  2014_sem31.pdf                60  2014      31
3  2015_sem46.pdf                60  2015      46
4  2016_sem50.pdf                60  2016      50
5  2017_sem23.pdf                60  2017      23
6  2025_sem01.pdf                72  2025       1
7  2025_sem02.pdf                70  2025       2
8  2025_sem48.pdf                76  2025      48

# **Extracci√≥n de tablas con Camelot + resumen de tama√±os**

**Objetivo:** extraer tablas de la p√°gina detectada en cada PDF y verificar r√°pidamente su tama√±o.

**Entrada:**
- `results`: tuplas `(Archivo, P√°gina, A√±o, Semana)`
- `camelot.read_pdf(..., flavor="stream")`

**Proceso:**
- Crea `all_tables` como diccionario `{archivo: tables}`
- Salta PDFs sin p√°gina v√°lida (`page is None`)
- Extrae tablas solo de la p√°gina detectada (no todo el PDF)
- Calcula el tama√±o `(filas, columnas)` de `tables[0].df` para validar consistencia

**Salida:**
- `all_tables`: tablas extra√≠das por archivo
- `df_sizes`: resumen por PDF con `A√±o/Semana/P√°gina` y dimensiones de la tabla

In [9]:
PDF_DIR = "data/raw/pdf"

print("Tablas encontradas:")
all_tables = {}
for f, page, year, week in results:
    if page is None:
        continue
    all_tables[f] = camelot.read_pdf(f"{PDF_DIR}/{f}", pages=str(page), flavor="stream")

print(all_tables)
print("\n\n")

print("Tama√±o de las tablas")
rows = []
for f, tables in all_tables.items():
    page, year, week = next((p, y, w) for (ff, p, y, w) in results if ff == f)
    nrows, ncols = tables[0].df.shape
    rows.append([f, year, week, page, nrows, ncols])

df_sizes = pd.DataFrame(rows, columns=["Archivo", "A√±o", "Semana", "P√°gina", "Filas", "Columnas"])
print(df_sizes.to_string(index=False))

Tablas encontradas:
{'2014_sem01.pdf': <TableList n=2>, '2014_sem05.pdf': <TableList n=1>, '2014_sem31.pdf': <TableList n=1>, '2015_sem46.pdf': <TableList n=1>, '2016_sem50.pdf': <TableList n=1>, '2017_sem23.pdf': <TableList n=1>, '2025_sem01.pdf': <TableList n=1>, '2025_sem02.pdf': <TableList n=1>, '2025_sem48.pdf': <TableList n=1>}



Tama√±o de las tablas
       Archivo  A√±o  Semana  P√°gina  Filas  Columnas
2014_sem01.pdf 2014       1       3     28         2
2014_sem05.pdf 2014       5      58     39        12
2014_sem31.pdf 2014      31      60     37        10
2015_sem46.pdf 2015      46      60     41        13
2016_sem50.pdf 2016      50      60     39        13
2017_sem23.pdf 2017      23      60     39        13
2025_sem01.pdf 2025       1      72     38        13
2025_sem02.pdf 2025       2      70     36        18
2025_sem48.pdf 2025      48      76     38        13

# **Impresi√≥n de tablas extra√≠das (por PDF y por tabla)**

**Objetivo:** visualizar todas las tablas detectadas por Camelot en cada PDF, con contexto (archivo, a√±o, semana, p√°gina).

**Entrada:**
- `all_tables`: diccionario `{archivo: tables}`
- `results`: lista con `(Archivo, P√°gina, A√±o, Semana)`

**Proceso:**
- Recorre cada archivo en `all_tables`
- Recupera `(page, year, week)` desde `results`
- Imprime cada tabla `t.df` con un separador visual y un encabezado claro

**Salida:**
- Tablas completas impresas en consola, agrupadas por archivo y numeradas (`Tabla 1`, `Tabla 2`, etc.)

In [10]:
for f, tables in all_tables.items():
    page, year, week = next((p, y, w) for (ff, p, y, w) in results if ff == f)  # metadata del PDF
    for i, t in enumerate(tables):  # recorre todas las tablas detectadas en esa p√°gina y las imprime
        print("*" * 100)
        print(f"Archivo: {f} | A√±o: {year} | Semana: {week} | P√°gina: {page}")
        print(f"Tabla {i+1}")
        print("*" * 100)
        print(t.df.to_string(index=False))

****************************************************************************************************
Archivo: 2014_sem01.pdf | A√±o: 2014 | Semana: 1 | P√°gina: 3
Tabla 1
****************************************************************************************************
                                                                            0                                     1
                                  Vigilancia Epidemiol√≥gica Semana  01,  2014                                     3
                                                                   puerperio*
captura dentro de\nla plataforma\nelectr√≥-\n10. Efectos del calor y de la luz
         nica del SUIVE por\nlas 19 846 unidades\n11. Enfermedad de Alzheimer
       m√©dicas incorporadas a este sistema y que\n12. Enfermedad de Parkinson
                                     forman\nparte\ndel\nSistema Nacional\nde 13. Enfermedad invasiva por neumococo
                                 Salud.\n14. Enfermedad por virus Chikungunya
                                                                15. Erisipela
       Estos padecimientos formar√°n parte del\n16. Herida por arma de fuego y                                punzo-
                            Informe semanal de casos nuevos de en-\ncortantes
         fermedades y ser√°n publicados dentro de\n17. Hiperplasia de pr√≥stata
                     la emisi√≥n semanal del Bolet√≠n Epidemio-\n18. Hipotermia
                                         l√≥gico.\n19.\nInfecciones\ninvasivas                                   por
                                                       Haemophilus influenzae
Apeg√°ndose\na\nlo\nestablecido\nen\nla\n20.\nInsuficiencia venosa perif√©rica*
      NOM-017-SSA2-2012 se\nrealiz√≥ la\nac-\n21.\nIntoxicaci√≥n\npor\nmon√≥xido                                    de
                            tualizaci√≥n del\nformato SUIVE-1;\nen el\ncarbono
                cual era necesario incorporarse nuevos pa-\n22. Mal del pinto
                       decimientos que tendr√≠an que ser notifi-\n23. Obesidad
            cados al SUIVE. Para realizar esta modi-\n24. Otras rickettsiosis
            ficaci√≥n se\nconsult√≥ a\nlos\nrepresentantes\n25. S√≠ndrome febril
             del\nsector\np√∫blico\ny\nprivado\ndel Sector\n26. Toxoplasmosis*
                    Salud;\nquienes actualizaron el cat√°logo de\n27. Tracoma*
                    enfermedades para\nla notificaci√≥n sema-\n28. Triquinosis
          nal; dando prioridad\na los padecimientos\n29. Vulvovaginitis aguda
                                                             que presentaban:
                                     *Padecimientos que\nse\nreincorporaron a                            la notifi-
                                                  caci√≥n semanal obligatoria.
****************************************************************************************************
Archivo: 2014_sem01.pdf | A√±o: 2014 | Semana: 1 | P√°gina: 3
Tabla 2
****************************************************************************************************
                        0                                      1                                            2
                                                                                  caci√≥n semanal obligatoria.
                        ‚Ä¢  mayor poblaci√≥n vulnerable y por ende
                                      prevalencias m√°s elevadas,
                                                                     Hay\npadecimientos\nque\nen\neste\nnuevo
                        ‚Ä¢                       mayor letalidad,
                                                                                       formato se desagregan:
                        ‚Ä¢   las que cuentan con un programa pre-
                          ventivo o de control bien establecido. ÔÇß\nParatifoidea\ny\notras\nsalmonelosis\nen:
                                                                            otras salmonelosis y paratifoidea
                      Los    29\npadecimientos\nincorporados\nal ÔÇß\nConjuntivitis\nen:\nconjuntivitis\ny con-
formato SUIVE-1-2014 son:                                              juntivitis\nepid√©mica\naguda\nhemorr√°-
                                                                                                         gica
                       1.             Absceso hep√°tico amebiano*
                                                                   ÔÇß\nLeishmaniasis en:\nleishmaniasis visce-
                       2.                             Adicciones
                                                                                 ral y leishmaniasis cut√°nea.
                       3.                    Afecci√≥n nosocomial
****************************************************************************************************
Archivo: 2014_sem05.pdf | A√±o: 2014 | Semana: 5 | P√°gina: 58
Tabla 1
****************************************************************************************************
                                                    0     1     2     3    4     5   6    7    8     9  10 11
                                            FEDERATIVA
                                                              2014             2014          2014
                                                             Acum.            Acum.               Acum.
                                                        Sem.             Sem.           Sem.
                                                                 M     F          M   F         M        F
                                        Aguascalientes     1     2     3    -     -   1    -          -     -
                                       Baja California    45    30   121    6     7   8    3          1     9
                                   Baja California Sur    13     5    18    2     2   3    -          -     -
                                              Campeche    10     6    27    2     1   2    1          1     1
                                              Coahuila     2     8    42    -     8   4    -          -     -
                                                Colima    17    11    41    -     2   2    2          -     2
                                               Chiapas    20    12    31    6     6   4    1          1     1
                                             Chihuahua    43    25   116    8    10   7    2          1     5
                                      Distrito Federal   212   124   329   10    11  16    4          3     2
                                               Durango     9     6    30    -     1   2    -          -     -
                                            Guanajuato     4     -    10    -     -   1    -          -     1
                                              Guerrero    12    11    33    3     6   6    -          -     1
                                               Hidalgo    30    12    34    5     5   7    -          -     -
                                               Jalisco    33    22    50    -     1   -    -          -     1
                                                M√©xico   103    50   243   19    34  22    6         10     7
                                             Michoac√°n    33    23    73    4     9   6    1          3     2
                                               Morelos    27    21    99    2     9   4    1          -     1
                                               Nayarit    40    12    59    3     4   2    1          -     3
                                            Nuevo Le√≥n    57    38   123    8    10   9    3          6     6
                                                Oaxaca    17    10    32    1     4   3    1          3     -
                                                Puebla    13     7    22    3     3   1    -          -     -
                                             Quer√©taro     -     1     4    -     -   -    -          -     -
                                          Quintana Roo     9     9    19    2     5   2    -          1     1
                                       San Luis Potos√≠    26    10    47    -     2   1    1          1     1
                                               Sinaloa    40    19   109   11    17  13    3          4     8
                                                Sonora    32    19    87    2    10   3    5          8     4
                                               Tabasco    16     7    29    2     2   2    -          -     1
                                            Tamaulipas    61    24   126    8    14  10    1          2     6
                                              Tlaxcala     1     -     1    -     -   -    -          -     -
                                              Veracruz    73    30   125    7     6   6    -          1     2
                                               Yucat√°n     8    15    58    -     1   3    -          3     2
                                             Zacatecas    16    14    37    -     1   -    -          -     -
                                                 TOTAL 1 023   583 2 178  114   191 150   36         49    67
FUENTE: SINAVE/DGE/Salud 2014. Informaci√≥n preliminar.
****************************************************************************************************
Archivo: 2014_sem31.pdf | A√±o: 2014 | Semana: 31 | P√°gina: 60
Tabla 1
****************************************************************************************************
                  0     1     2      3    4     5     6    7     8   9
                           2014              2014             2014
                          Acum.             Acum.            Acum.
                     Sem.              Sem.             Sem.
                              M      F          M     F          M   F
     Aguascalientes    50    97    235    -     2     3    -     -   3
    Baja California    18   240    989    2    59    71    1    18  40
Baja California Sur    13    90    290    -    12    12    -     2   4
           Campeche    11   116    355    1    12    13    -     9  11
           Coahuila    55   232    835    5    95    92    -    15  34
             Colima    14   115    397    1    30    40    -     2   6
            Chiapas    33   103    519    8    59    42    1    13  15
          Chihuahua    99   511  1 834    4    92   121    2    22  42
   Distrito Federal   263 2 214  5 818    6    58   109    4    32  47
            Durango    28   203    741    3    21    23    1     4   8
         Guanajuato    11    48    215    -     9    12    -     -   2
           Guerrero    15    79    263    4    80    39    -     7  13
            Hidalgo    29   156    704    3    55    55    -     6   8
            Jalisco    99   486  1 558    4    66    63    1    12  21
             M√©xico   126   726  2 711    9   200   163    6    47  45
          Michoac√°n    34   303  1 177    2    94    69    -    28  27
            Morelos    62   241  1 129    8    67    46    1    10  20
            Nayarit    38   166    621    1    30    24    5    18  30
         Nuevo Le√≥n    52   402  1 436    5   106   116    4    52  72
             Oaxaca    15   157    567    4    51    36    -    10  10
             Puebla    11   111    424    1    42    31    -     2   4
          Quer√©taro     7    66    171    -     5     4    -     2   -
       Quintana Roo     4    58    256    1    27    23    -     5  13
    San Luis Potos√≠    33   249    896    -    13    21    -     7   6
            Sinaloa    52   255  1 072    7   113   126    9    46  73
             Sonora    41   285  1 095    4    71    60    2    38  45
            Tabasco    22   173    549    2    40    15    -     3   7
         Tamaulipas    89   360  1 322    7   121   110    2    22  41
           Tlaxcala     4    27     67    1    11    11    -     -   2
           Veracruz    61   425  1 573    2    74    65    -    17  42
            Yucat√°n    26   158    644    4    54    39    1    16  27
          Zacatecas    14   139    453    1    10     2    -     -   2
              TOTAL 1 429 8 991 30 916  100 1 779 1 656   40   465 720
****************************************************************************************************
Archivo: 2015_sem46.pdf | A√±o: 2015 | Semana: 46 | P√°gina: 60
Tabla 1
****************************************************************************************************
                 0     1      2      3      4    5     6     7     8    9     10    11    12
            ENTIDAD
                             F32                      G20
                                                                             G30
         FEDERATIVA
                            2015          2014       2015        2014       2015        2014
                           Acum.                    Acum.                  Acum.
                     Sem.                Acum. Sem.             Acum. Sem.             Acum.
                               M      F                 M     F                M     F
     Aguascalientes    60    549  1 359    799    1    20    17    11    1     3    12     5
    Baja California    49    556  1 949  2 394    6   114   110   246    4    46    67   110
Baja California Sur    17    184    622    757    -    32    19    43    -     5    10    14
           Campeche    21    201    613    587    2    32    20     2    -    12     9    13
           Coahuila     8    260    900  1 722    2    48    75   274    -    22    29    77
             Colima    27    199    712    751    2    43    34   105    -     7     9    14
            Chiapas    18    196    856  1 174    3    65    34   159    -    21    22    42
          Chihuahua   162  1 564  3 861  4 140    4    80    90   273    7    31    50   115
   Distrito Federal   323  3 617 11 238 11 688   18   222   230   186    -    57    65    91
            Durango    82    939  3 142  1 917    5   142   114    83    1    25    32    18
         Guanajuato    35    173    687    369    4    50    57    26    1    14    29     2
           Guerrero    25    408  1 481    233    5    89    63    52    1    25    23     9
            Hidalgo    34    342  1 168  1 416    4    52    67   172    2     8     9    20
            Jalisco   137  1 905  5 691  3 360   29   389   339   221    3    89   113    66
             M√©xico   112  1 348  4 589  5 412   10   256   218   521    2    53    51   142
          Michoac√°n    29    628  2 166  2 244    7    87   104   197    2    20    21    71
            Morelos    38    378  1 594  2 210   10   110   101   212    1    16    32    52
            Nayarit    33    299  1 007  1 345    5    58    37    99    1    13    23    72
         Nuevo Le√≥n    49    576  1 977    717    7   169   123    39    2    35    88     4
             Oaxaca    29    321    846  1 134    8   154   107   151    -    36    41    23
             Puebla    52    541  1 890  1 109    3   152   187   130    -    17    35    14
          Quer√©taro    12    196    756    411    2    46    29     9    -    14    16     3
       Quintana Roo     6    154    551    481    7    31    27    77    -     9     7    26
    San Luis Potos√≠   108    672  2 359  2 075    3    75    73    40    -    16    34    24
            Sinaloa    74    600  2 582  2 202   13   229   250   360    6    69   108   174
             Sonora    51    540  1 903  2 170    -    94   105   200    2    42    58   125
            Tabasco    14    313  1 077  1 169    2    41    38    92    1    16     8    22
         Tamaulipas    80  1 149  2 278  1 585    5   109    75    80    2    42    46    18
           Tlaxcala     9    110    416    151    2    32    22    28    -     5    14     2
           Veracruz    79    685  2 838  2 422    9   225   185   195    4    54    72    74
            Yucat√°n    22    264  1 071  1 296    2    44    45   122    2    18    48    57
          Zacatecas    21    203    732    877    1     8    10    23    1     7    13     2
              TOTAL 1 816 20 070 64 911 60 317  181 3 298 3 005 4 428   46   847 1 194 1 501
****************************************************************************************************
Archivo: 2016_sem50.pdf | A√±o: 2016 | Semana: 50 | P√°gina: 60
Tabla 1
****************************************************************************************************
                 0     1      2      3      4    5     6     7     8    9     10    11    12
            ENTIDAD                 F32               G20                          G30
         FEDERATIVA
                            2016          2015       2016        2015       2016        2015
                           Acum.                    Acum.                  Acum.
                     Sem.                Acum. Sem.             Acum. Sem.             Acum.
                               M      F                 M     F                M     F
     Aguascalientes    45    742  2 265  2 079    2    49    53    39    2    17    30    17
    Baja California    42    596  2 216  2 703    4   112   101   242    1    53    84   118
Baja California Sur    11    206    595    876    1    18    22    55    -     9     8    17
           Campeche    22    286    886    905    1    37    25    57    -    11    11    24
           Coahuila     7    162    469    692    -    15    22    30    -     8     8    15
             Colima    22    234    842  1 034    4    65    52    86    1     6    11    16
            Chiapas    38    291    950  1 150    5   105    72   106    1    18    27    47
          Chihuahua   116  2 503  5 571  6 048    2   230   267   194    3    96   125    89
   Distrito Federal   296  3 835 12 437 16 356    8   262   311   557    1    60   116   142
            Durango    55  1 104  3 277  4 495    3   106   109   287    1    13    28    65
         Guanajuato    57    414  1 716    995    3    82    75    97    2    28    45    36
           Guerrero    15    342  1 328  2 000    3    83    69   174    -    25    36    63
            Hidalgo    66    477  1 535  1 636    2    79    64   127    3    13    24    19
            Jalisco   140  2 191  6 603  8 240   14   451   377   789    4    85   137   215
             M√©xico   188  1 721  6 001  6 462    9   313   280   532    2    45    78   117
          Michoac√°n    55    662  2 264  3 038    6   152   125   211    1    29    32    43
            Morelos    26    440  1 435  2 104    2   117   104   235    -    23    31    49
            Nayarit    35    325  1 155  1 421    2    54    50   101    2    19    32    42
         Nuevo Le√≥n    35    663  2 472  2 753    9   148   114   373    2    60    93   141
             Oaxaca    27    369  1 039  1 313    2   147   104   291    3    64    71    85
             Puebla    48    596  1 716  2 696    7   132   165   362    -    20    19    59
          Quer√©taro  n.e.    212    777  1 033 n.e.    32    45    82 n.e.    11    17    32
       Quintana Roo    13    287    762    813    2    40    22    61    1    10     9    19
    San Luis Potos√≠    65    846  2 430  3 283    5    77    87   154    1    25    39    51
            Sinaloa    53    783  2 866  3 484    6   319   303   510    4    93   111   191
             Sonora    49    506  1 982  2 648    2   122   121   217    4    56    76   111
            Tabasco    20    346    915  1 481    1    65    31    84    -    13    14    25
         Tamaulipas   101  1 482  2 671  4 219    6   151   134   302    2    63    85   147
           Tlaxcala    11    102    389    568    -    45    45    56    1     8    12    21
           Veracruz    84    976  3 414  3 886   15   298   286   455    3    64   100   148
            Yucat√°n    29    215    971  1 419    -    62    37    95    -    19    35    72

# **¬øQu√© pasa con la informaci√≥n extra√≠da?**

La extracci√≥n desde PDFs no produce datos "limpios" autom√°ticamente. Por esto, se deben realizar algunas etapas de preprocesamiento a los datos. Cada paso del pipeline propuesto se implementa para corregir variaciones reales del Bolet√≠n y mantener la informaci√≥n lo m√°s fiel posible al PDF antes de entrar a limpieza avanzada y modelado.

Primero tuvimos que **encontrar la p√°gina correcta y la semana/a√±o**. Algunos PDFs incluyen el texto con formatos distintos, y en ciertos casos el contenido puede venir como imagen o el texto extra√≠do es incompleto. Por eso usamos **dos expresiones regulares (regex)** como alternativas: una para patrones tipo "Semana 12 ‚Ä¶ 2024" y otra para "semana epidemiol√≥gica 42 del 2024". Esto aumenta la probabilidad de detectar correctamente `(A√±o, Semana)` sin depender de un √∫nico formato.

Despu√©s, al extraer tablas con Camelot, vimos que el resultado trae **ruido estructural**. Por ejemplo, aparecen **columnas completamente vac√≠as** (separadores o espacios) que no existen como datos en el PDF. Por eso aplicamos una limpieza que **elimina columnas 100% vac√≠as** dentro del rango real de estados (Aguascalientes‚Ä¶Zacatecas). Esto ayuda a **normalizar el ancho de la tabla** y evitar desalineaciones al mapear columnas.

Luego, aplicamos `clean_df()` para quedarnos solo con filas que realmente son "Estado + n√∫meros". Los PDFs suelen incluir encabezados, notas o totales ("ENTIDAD", "TOTAL", "FUENTE", "NOTA", etc.) que Camelot puede capturar como filas normales. Adem√°s, para identificar filas v√°lidas, contamos celdas que parecen num√©ricas, pero sin forzar conversiones todav√≠a.

En el contenido num√©rico encontramos varios formatos:
- **Millares separados por espacios** (`"1 450"`) o por **comas** (`"1,450"`) ‚Üí ambos deben interpretarse como `1450`.
- Valores `"-"` o `""` que en realidad representan **cero** en el bolet√≠n.
- Valores como `"n.e."` (no existente) u otros textos, que deben tratarse como **faltantes reales** (`NA`).

Por eso usamos `normalize_number()` para estandarizar cada celda a tres salidas consistentes: `int`, `0`, o `NA`. Esto evita "inventar datos" y mantiene trazabilidad para an√°lisis posterior.

Tambi√©n detectamos que **el formato var√≠a por a√±o**. Algunos PDFs **no traen la columna de "Acumulado a√±o anterior"**. Para no tener esquemas distintos por a√±o, usamos `pad_prev_year_cols()` para **rellenar esa columna faltante con `NA`**. As√≠ todos los a√±os quedan con el mismo formato (mismas columnas por padecimiento), y el reshaping funciona igual siempre.

Finalmente, aplicamos dos reshapes con objetivos distintos:
- **Wide**: 1 fila por entidad, con columnas por padecimiento y m√©trica. Es ideal para **comparar visualmente** contra la tabla original del PDF y validar que la extracci√≥n qued√≥ alineada.
- **Long**: 1 fila por (Entidad + Padecimiento + Semana). Este es el formato correcto para construir el **dataset consolidado hist√≥rico**, hacer agregaciones, validaciones y preparar modelos.

A√∫n falta procesamiento: en esta etapa nos enfocamos en **extraer y estandarizar lo m√°s pegado al PDF**. Despu√©s viene una limpieza m√°s exhaustiva (validaci√≥n de rangos, consistencia temporal, outliers, faltantes, etc.) para finalmente pasar a an√°lisis y modelos de series de tiempo.

A continuaci√≥n, pasaremos a explicar los pasos del pipeline utilizados.

# **Limpieza: eliminar columnas completamente vac√≠as (solo dentro del bloque de estados)**

**Objetivo:** quitar columnas "basura" que Camelot a veces crea (separadores/espacios), pero **solo** si est√°n vac√≠as en el rango real de datos.

**Entrada:**
- `df`: DataFrame extra√≠do por Camelot
- `start_state`: estado donde inicia el bloque (default: `Aguascalientes`)
- `end_state`: estado donde termina el bloque (default: `Zacatecas`)

**Proceso:**
- Renombra columnas a √≠ndices num√©ricos para trabajar estable
- Localiza las filas donde aparecen `start_state` y `end_state`
- Recorta el DF al rango de filas "real" (solo estados)
- Elimina columnas que sean **100% vac√≠as** dentro de ese rango

**Salida:**
- DataFrame con columnas vac√≠as removidas (sin tocar columnas que s√≠ tienen datos)

In [11]:
def eliminar_columnas_vacias(df, start_state="Aguascalientes", end_state="Zacatecas"):
    """Elimina columnas 100% vac√≠as dentro del bloque de estados (Aguascalientes..Zacatecas)."""
    df = df.copy()
    df.columns = range(df.shape[1])  # fuerza columnas num√©ricas (0..N-1) para evitar nombres raros de Camelot

    col0 = df[0].astype(str).str.strip()  # columna de estados normalizada

    try:
        i_start = col0[col0.eq(start_state)].index[0]  # fila donde empieza el bloque de estados
        i_end = col0[col0.eq(end_state)].index[0]      # fila donde termina el bloque de estados
    except IndexError:
        return df  # si no encuentra el rango, no modifica nada

    if i_start > i_end: i_start, i_end = i_end, i_start  # asegura orden correcto

    sub = df.loc[i_start:i_end, :]  # analiza solo filas del bloque real (evita encabezados/pies)

    is_blank = sub.astype(str).apply(lambda col: col.str.strip().eq(""))  # True donde la celda est√° vac√≠a
    keep_cols = is_blank.mean(axis=0) < 1.0  # conserva columnas que NO son 100% vac√≠as en el bloque

    return df.loc[:, keep_cols]  # devuelve DF sin columnas in√∫tiles

# **Limpieza de tabla Camelot: quedarte con "Estado + n√∫meros"**

**Objetivo:** filtrar la tabla extra√≠da para conservar √∫nicamente filas que parecen datos reales por estado, eliminando encabezados, notas y ruido.

**Entrada:**
- `df`: DataFrame crudo (`tables[0].df`) de Camelot
- `min_numeric_cells`: m√≠nimo de celdas "num√©ricas" requeridas en columnas 1..N (default: `2`)

**Proceso:**
- Elimina columnas 100% vac√≠as dentro del bloque Aguascalientes..Zacatecas
- Normaliza nombres de estados (columna 0) y elimina filas vac√≠as
- Descarta filas tipo encabezado/pie: `ENTIDAD`, `TOTAL`, `FUENTE`, `NOTA`, etc.
- Valida filas contando celdas "num√©ricas" en columnas 1..N:
  - Enteros detectados tras quitar separadores de miles (espacios/comas)
  - `"-"` y `""` cuentan como 0 (se tratan como v√°lidas para la estructura)
  - Conserva filas con `numeric_count >= min_numeric_cells`

**Salida:**
- DataFrame limpio, reindexado, listo para `pad_prev_year_cols()` y `reshape()`

In [12]:
def clean_df(df, min_numeric_cells=2):
    """Deja solo filas tipo 'Estado + datos' y elimina ruido t√≠pico de Camelot."""
    df = eliminar_columnas_vacias(df)  # quita columnas 100% vac√≠as dentro del bloque de estados

    df.columns = range(df.shape[1]); df[0] = df[0].astype(str).str.strip()  # √≠ndices estables + estados sin espacios
    df = df[df[0].ne("")]  # fuera filas sin estado
    df = df[~df[0].str.match(r"^(ENTIDAD|FEDERATIVA|TOTAL.*|FUENTE.*|NOTA.*)$", case=False, na=False)]  # fuera headers/footers

    num_cols = [c for c in df.columns if c != 0]  # columnas num√©ricas (todo menos estado)
    cells = df[num_cols].astype(str).apply(lambda col: col.str.strip())  # normaliza whitespace para evaluar
    cells_clean = cells.replace(r"[ ,]", "", regex=True)  # "1 450"/"1,450"->"1450" solo para conteo

    is_zeroish = cells.apply(lambda col: col.eq("-") | col.eq(""))  # "-" o "" cuentan como 0 v√°lido
    is_int = cells_clean.apply(lambda col: col.str.fullmatch(r"\d+").fillna(False))  # detecta enteros puros
    numeric_count = (is_int | is_zeroish).sum(axis=1)  # cu√°ntas celdas "num√©ricas" tiene cada fila

    df = df[numeric_count >= min_numeric_cells]  # conserva filas que realmente parecen datos (no texto suelto)
    return df.reset_index(drop=True)  # reindex final limpio

# **Estandarizaci√≥n de columnas: agregar "A√±o anterior" cuando falta**

**Objetivo:** forzar un mismo esquema de columnas aunque algunos PDFs no traigan la columna de comparaci√≥n con a√±o anterior.

**Entrada:**
- `df`: tabla ya limpia (por ejemplo salida de `clean_df`)
- `keywords`: lista de padecimientos (k = cantidad)

**L√≥gica clave:**
- Esquema esperado:
  - Con a√±o anterior: `1 + 4*k` columnas
  - Sin a√±o anterior: `1 + 3*k` columnas
- Si `df` tiene exactamente `1 + 3*k`, entonces por cada padecimiento:
  - Conserva `total`, `hombres`, `mujeres`
  - Agrega `total_prev = pd.NA` como columna faltante

**Salida:**
- DataFrame con `1 + 4*k` columnas, listo para `reshape()` sin condicionales por a√±o

In [13]:
def pad_prev_year_cols(df: pd.DataFrame, keywords: list[str]) -> pd.DataFrame:
    """Si falta la col 'a√±o anterior' (3 cols por padecimiento), inserta esa col como NA (4 cols por padecimiento)."""
    df = df.copy()
    k = len(keywords); no_prev = 1 + 3 * k; with_prev = 1 + 4 * k  # 1=Entidad; luego 3k o 4k m√©tricas

    if df.shape[1] != no_prev: return df  # solo act√∫a cuando el DF est√° exactamente en esquema sin a√±o anterior

    out = {0: df[0]}  # mantiene Entidad en col 0
    for i, kw in enumerate(keywords):
        old_base = 1 + i * 3; new_base = 1 + i * 4  # mapea bloques de 3->4 columnas por padecimiento
        out[new_base + 0] = df[old_base + 0]  # total semana
        out[new_base + 1] = df[old_base + 1]  # acumulado hombres
        out[new_base + 2] = df[old_base + 2]  # acumulado mujeres
        out[new_base + 3] = pd.NA             # acumulado a√±o anterior (no existe en el DF original)

    return pd.DataFrame(out)  # devuelve DF con esquema ‚Äúcompleto‚Äù (con a√±o anterior)

# **Normalizaci√≥n de n√∫meros (celdas Camelot ‚Üí int/0/NA)**

**Objetivo:** convertir valores de tabla a n√∫meros confiables sin romper casos raros.

**Entrada:**
- `x`: valor crudo de una celda (string, n√∫mero, vac√≠o, guion, etc.)

**Reglas:**
- `NA` real ‚Üí `pd.NA`
- `""` o `"-"` ‚Üí `0`
- Elimina separadores de miles (`" "` y `","`)
- Si queda un entero (`^\d+$`) ‚Üí `int`
- Cualquier otro formato ‚Üí `pd.NA`

**Salida:**
- `int` cuando es v√°lido
- `0` cuando representa "sin dato num√©rico"
- `pd.NA` cuando el contenido no es interpretable como entero

In [14]:
def normalize_number(x):
    if pd.isna(x): return pd.NA  # mantiene NA reales

    s = str(x).strip()
    if s == "" or s == "-": return 0  # vac√≠os/guiones se tratan como cero

    s2 = s.replace(" ", "").replace(",", "")  # quita separadores de miles: "1 450"/"1,450"->"1450"
    if re.fullmatch(r"\d+", s2): return int(s2)  # acepta solo enteros puros

    return pd.NA  # cualquier valor raro (texto, s√≠mbolos, etc.)

# **Mapeo de columnas por padecimiento (para reshape autom√°tico)**

**Objetivo:** construir un diccionario que diga qu√© columnas pertenecen a cada padecimiento (sin hardcodear √≠ndices).

**Entrada:**
- `keywords`: lista de padecimientos (en el orden que aparecen en la tabla)
- `start_col`: primera columna num√©rica (default `1`, porque `0` es Entidad)
- `step`: tama√±o del bloque por padecimiento (default `4` = total, hombres, mujeres, a√±o anterior)

**Proceso:**
- Para cada padecimiento calcula su `base`
- Asigna √≠ndices relativos:
  - `total = base`
  - `hombres = base + 1`
  - `mujeres = base + 2`
  - `total_prev = base + 3`

**Salida:**
- `col_map`: diccionario listo para usar en `reshape()` y `reshape_wide()`

In [15]:
def build_column_map(keywords: list[str], start_col: int = 1, step: int = 4):
    col_map = {}  # {padecimiento: {total,hombres,mujeres,total_prev}}
    for i, disease in enumerate(keywords):
        base = start_col + i * step  # inicio del bloque de columnas de ese padecimiento
        col_map[disease] = {"total": base, "hombres": base + 1, "mujeres": base + 2, "total_prev": base + 3}
    return col_map  # √≠ndices de columnas para reshape()

# **Reshape "wide" (1 fila por Entidad, columnas por padecimiento)**

**Objetivo:** convertir la tabla de Camelot a un formato "ancho", buscando el formato original del bolet√≠n

**Entrada:**
- `df`: tabla limpia y estandarizada (idealmente despu√©s de `clean_df` + `pad_prev_year_cols`)
- `year`, `week`: a√±o y semana detectados del PDF
- `col_map`: mapeo de columnas por padecimiento (`build_column_map`)
- `normalize_number`: normaliza valores a `int/0/NA`

**Proceso:**
- Crea 1 registro por fila del DF (Entidad)
- Agrega metadatos: `Anio`, `Semana`, `Entidad`
- Para cada padecimiento agrega 4 m√©tricas como columnas nuevas:
  - `Casos_semana_{kw}`
  - `Acumulado_hombres_{kw}`
  - `Acumulado_mujeres_{kw}`
  - `Acumulado_anio_anterior_{kw}`

**Salida:**
- DataFrame "wide": 1 fila por Entidad, muchas columnas (m√©trica √ó padecimiento)

In [16]:
def reshape_wide(df: pd.DataFrame, year: int, week: int, col_map: dict) -> pd.DataFrame:
    """Salida ‚Äúancha‚Äù: 1 fila por entidad; columnas separadas por padecimiento y m√©trica."""
    records = []
    for _, row in df.iterrows():
        rec = {"Anio": year, "Semana": f"{week:02d}", "Entidad": row[0]}  # metadata fija por fila
        for kw, cols in col_map.items():  # kw=padecimiento, cols=√≠ndices de columnas
            rec[f"Casos_semana_{kw}"] = normalize_number(row[cols["total"]])  # total semanal
            rec[f"Acumulado_hombres_{kw}"] = normalize_number(row[cols["hombres"]])  # acumulado H
            rec[f"Acumulado_mujeres_{kw}"] = normalize_number(row[cols["mujeres"]])  # acumulado M
            rec[f"Acumulado_anio_anterior_{kw}"] = normalize_number(row[cols["total_prev"]])  # acumulado a√±o anterior
        records.append(rec)
    return pd.DataFrame(records)  # DF ancho: √∫til para guardar CSV por semana/p√°gina

# **Reshape "long" (1 fila por Entidad + Padecimiento)**

**Objetivo:** transformar la tabla en formato "largo" para consolidar todo el hist√≥rico en un solo dataset.

**Entrada:**
- `df`: tabla limpia + con columnas completas (ideal despu√©s de `pad_prev_year_cols`)
- `year`, `week`: metadatos del PDF
- `col_map`: √≠ndices de columnas por padecimiento
- `normalize_number`: convierte valores a `int/0/NA`

**Proceso:**
- Recorre cada Entidad (fila)
- Por cada Entidad genera una fila por cada padecimiento en `col_map`
- Cada fila final contiene:
  - `Anio`, `Semana`, `Entidad`, `Padecimiento`
  - `Casos_semana`, `Acumulado_hombres`, `Acumulado_mujeres`, `Acumulado_anio_anterior`

**Salida:**
- DataFrame "long": muchas filas, pocas columnas (perfecto para unir semanas/a√±os y modelado)

In [17]:
def reshape(df: pd.DataFrame, year: int, week: int, col_map: dict) -> pd.DataFrame:
    records = []
    for _, row in df.iterrows():
        estado = row[0]  # entidad/estado
        for disease, cols in col_map.items():  # 1 fila por (estado, padecimiento)
            records.append({
                "Anio": year, "Semana": f"{week:02d}", "Entidad": estado, "Padecimiento": disease,
                "Casos_semana": normalize_number(row[cols["total"]]),
                "Acumulado_hombres": normalize_number(row[cols["hombres"]]),
                "Acumulado_mujeres": normalize_number(row[cols["mujeres"]]),
                "Acumulado_anio_anterior": normalize_number(row[cols["total_prev"]]),
            })
    return pd.DataFrame(records)  # DF largo: ideal para an√°lisis y consolidado hist√≥rico

# **Procesamiento por archivo (RAW ‚Üí CLEAN ‚Üí PAD ‚Üí WIDE) + resumen indexable**

**Objetivo:** procesar todos los PDFs ya cargados en `all_tables`, guardar los DataFrames intermedios y generar un resumen para navegar por `idx`.

**Entrada:**
- `all_tables`: `{archivo: tables}` (Camelot ya ejecutado)
- `results`: `(Archivo, P√°gina, A√±o, Semana)`
- `KEYWORDS`, `col_map`

**Proceso (por archivo):**
- `RAW`: `tables[0].df`
- `CLEAN`: `clean_df(RAW)`
- `PAD`: `pad_prev_year_cols(CLEAN, KEYWORDS)`
- `WIDE`: `reshape_wide(PAD, year, week, col_map)`
- Guarda todo en `processed` junto con metadata (archivo/a√±o/semana/p√°gina)

**Salida:**
- `processed`: lista de dicts con `RAW/CLEAN/PAD/WIDE` por archivo (para inspecci√≥n por √≠ndice)
- `df_summary`: tabla con `idx` + `shape` por etapa para detectar outliers r√°pido

In [18]:
print(f"Col_map:")
col_map = build_column_map(KEYWORDS)  # √≠ndices por padecimiento (total/h/m/prev)
display(col_map)

Col_map:

{'Depresi√≥n': {'total': 1, 'hombres': 2, 'mujeres': 3, 'total_prev': 4},
 'Parkinson': {'total': 5, 'hombres': 6, 'mujeres': 7, 'total_prev': 8},
 'Alzheimer': {'total': 9, 'hombres': 10, 'mujeres': 11, 'total_prev': 12}}

In [19]:
processed = []  # lista de dicts con metadata + dfs por etapa
for f, tables in all_tables.items():
    page, year, week = next((p, y, w) for (ff, p, y, w) in results if ff == f)  # usa results como ‚Äúsource of truth‚Äù
    if tables.n == 0: continue  # skip si Camelot no detect√≥ nada

    df_raw = tables[0].df  # tabla cruda
    df_clean = clean_df(df_raw)  # limpia ruido/filtra filas √∫tiles
    df_pad = pad_prev_year_cols(df_clean, KEYWORDS)  # asegura col de a√±o anterior si falta
    df_wide = reshape_wide(df_pad, year, week, col_map)  # 1 fila por entidad, columnas por padecimiento

    processed.append({"Archivo": f, "A√±o": year, "Semana": week, "P√°gina": page, "RAW": df_raw, "CLEAN": df_clean, "PAD": df_pad, "WIDE": df_wide})

# tabla ligera para inspecci√≥n r√°pida
df_summary = pd.DataFrame([{
    "idx": i,
    "Archivo": x["Archivo"],
    "A√±o": x["A√±o"],
    "Semana": x["Semana"],
    "P√°gina": x["P√°gina"],
    "RAW_shape": x["RAW"].shape,
    "CLEAN_shape": x["CLEAN"].shape,
    "PAD_shape": x["PAD"].shape,
    "WIDE_shape": x["WIDE"].shape,
} for i, x in enumerate(processed)])
display(df_summary)

,idx,Archivo,A√±o,Semana,P√°gina,RAW_shape,CLEAN_shape,PAD_shape,WIDE_shape
0,0,2014_sem01.pdf,2014,1,3,"(28, 2)","(0, 2)","(0, 2)","(0, 0)"
1,1,2014_sem05.pdf,2014,5,58,"(39, 12)","(32, 10)","(32, 13)","(32, 15)"
2,2,2014_sem31.pdf,2014,31,60,"(37, 10)","(32, 10)","(32, 13)","(32, 15)"
3,3,2015_sem46.pdf,2015,46,60,"(41, 13)","(32, 13)","(32, 13)","(32, 15)"
4,4,2016_sem50.pdf,2016,50,60,"(39, 13)","(32, 13)","(32, 13)","(32, 15)"
5,5,2017_sem23.pdf,2017,23,60,"(39, 13)","(32, 13)","(32, 13)","(32, 15)"
6,6,2025_sem01.pdf,2025,1,72,"(38, 13)","(32, 13)","(32, 13)","(32, 15)"
7,7,2025_sem02.pdf,2025,2,70,"(36, 18)","(32, 13)","(32, 13)","(32, 15)"
8,8,2025_sem48.pdf,2025,48,76,"(38, 13)","(32, 13)","(32, 13)","(32, 15)"

# **Inspector por √≠ndice (ver todas las etapas de un archivo)**

**Objetivo:** seleccionar un archivo procesado por √≠ndice y visualizar c√≥mo cambia el DataFrame en cada etapa.

**Entrada:**
- `n`: √≠ndice dentro de `processed`
- `processed[n]`: dict con metadata + `RAW/CLEAN/PAD/WIDE`

**Proceso:**
- Imprime metadata: archivo, a√±o, semana, p√°gina
- Muestra cada etapa con su `shape`:
  - `RAW` (Camelot)
  - `CLEAN` (filtrado)
  - `PAD_PREV` (columnas completas)
  - `WIDE` (formato ancho)

**Salida:**
- Visualizaci√≥n completa del pipeline para ese archivo espec√≠fico

In [20]:
n = 1  # <--  √≠ndice del archivo a inspeccionar

x = processed[n]  # dict con metadata + dfs por etapa
print(f'INDEX: {n} | {x["Archivo"]} | A√±o: {x["A√±o"]} | Semana: {x["Semana"]:02d} | P√°gina: {x["P√°gina"]}')  # header

print("\nRAW:", x["RAW"].shape); display(x["RAW"])       # tabla cruda de Camelot
print("\nCLEAN:", x["CLEAN"].shape); display(x["CLEAN"]) # tabla limpia
print("\nPAD_PREV:", x["PAD"].shape); display(x["PAD"])  # columnas estandarizadas
print("\nWIDE:", x["WIDE"].shape); display(x["WIDE"])    # reshape ancho final

INDEX: 1 | 2014_sem05.pdf | A√±o: 2014 | Semana: 05 | P√°gina: 58

RAW: (39, 12)

,0,1,2,3,4,5,6,7,8,9,10,11
0,FEDERATIVA,,,,,,,,,,,
1,,,2014,,,2014,,,2014,,,
2,,,Acum.,,,Acum.,,,,Acum.,,
3,,Sem.,,,Sem.,,,Sem.,,,,
4,,,M,F,,M,F,,M,,F,
5,Aguascalientes,1,2,3,-,-,1,-,,-,,-
6,Baja California,45,30,121,6,7,8,3,,1,,9
7,Baja California Sur,13,5,18,2,2,3,-,,-,,-
8,Campeche,10,6,27,2,1,2,1,,1,,1
9,Coahuila,2,8,42,-,8,4,-,,-,,-
10,Colima,17,11,41,-,2,2,2,,-,,2
11,Chiapas,20,12,31,6,6,4,1,,1,,1
12,Chihuahua,43,25,116,8,10,7,2,,1,,5
13,Distrito Federal,212,124,329,10,11,16,4,,3,,2
14,Durango,9,6,30,-,1,2,-,,-,,-
15,Guanajuato,4,-,10,-,-,1,-,,-,,1
16,Guerrero,12,11,33,3,6,6,-,,-,,1
17,Hidalgo,30,12,34,5,5,7,-,,-,,-
18,Jalisco,33,22,50,-,1,-,-,,-,,1
19,M√©xico,103,50,243,19,34,22,6,,10,,7
20,Michoac√°n,33,23,73,4,9,6,1,,3,,2
21,Morelos,27,21,99,2,9,4,1,,-,,1
22,Nayarit,40,12,59,3,4,2,1,,-,,3
23,Nuevo Le√≥n,57,38,123,8,10,9,3,,6,,6
24,Oaxaca,17,10,32,1,4,3,1,,3,,-
25,Puebla,13,7,22,3,3,1,-,,-,,-
26,Quer√©taro,-,1,4,-,-,-,-,,-,,-
27,Quintana Roo,9,9,19,2,5,2,-,,1,,1
28,San Luis Potos√≠,26,10,47,-,2,1,1,,1,,1
29,Sinaloa,40,19,109,11,17,13,3,,4,,8
30,Sonora,32,19,87,2,10,3,5,,8,,4
31,Tabasco,16,7,29,2,2,2,-,,-,,1
32,Tamaulipas,61,24,126,8,14,10,1,,2,,6
33,Tlaxcala,1,-,1,-,-,-,-,,-,,-
34,Veracruz,73,30,125,7,6,6,-,,1,,2
35,Yucat√°n,8,15,58,-,1,3,-,,3,,2
36,Zacatecas,16,14,37,-,1,-,-,,-,,-
37,TOTAL,1 023,583,2 178,114,191,150,36,,49,,67
38,FUENTE: SINAVE/DGE/Salud 2014. Informaci√≥n pre...,,,,,,,,,,,

CLEAN: (32, 10)

                      0    1    2    3   4   5   6  7   8  9
0        Aguascalientes    1    2    3   -   -   1  -   -  -
1       Baja California   45   30  121   6   7   8  3   1  9
2   Baja California Sur   13    5   18   2   2   3  -   -  -
3              Campeche   10    6   27   2   1   2  1   1  1
4              Coahuila    2    8   42   -   8   4  -   -  -
5                Colima   17   11   41   -   2   2  2   -  2
6               Chiapas   20   12   31   6   6   4  1   1  1
7             Chihuahua   43   25  116   8  10   7  2   1  5
8      Distrito Federal  212  124  329  10  11  16  4   3  2
9               Durango    9    6   30   -   1   2  -   -  -
10           Guanajuato    4    -   10   -   -   1  -   -  1
11             Guerrero   12   11   33   3   6   6  -   -  1
12              Hidalgo   30   12   34   5   5   7  -   -  -
13              Jalisco   33   22   50   -   1   -  -   -  1
14               M√©xico  103   50  243  19  34  22  6  10  7
15            Michoac√°n   33   23   73   4   9   6  1   3  2
16              Morelos   27   21   99   2   9   4  1   -  1
17              Nayarit   40   12   59   3   4   2  1   -  3
18           Nuevo Le√≥n   57   38  123   8  10   9  3   6  6
19               Oaxaca   17   10   32   1   4   3  1   3  -
20               Puebla   13    7   22   3   3   1  -   -  -
21            Quer√©taro    -    1    4   -   -   -  -   -  -
22         Quintana Roo    9    9   19   2   5   2  -   1  1
23      San Luis Potos√≠   26   10   47   -   2   1  1   1  1
24              Sinaloa   40   19  109  11  17  13  3   4  8
25               Sonora   32   19   87   2  10   3  5   8  4
26              Tabasco   16    7   29   2   2   2  -   -  1
27           Tamaulipas   61   24  126   8  14  10  1   2  6
28             Tlaxcala    1    -    1   -   -   -  -   -  -
29             Veracruz   73   30  125   7   6   6  -   1  2
30              Yucat√°n    8   15   58   -   1   3  -   3  2
31            Zacatecas   16   14   37   -   1   -  -   -  -

PAD_PREV: (32, 13)

                     0    1    2    3     4   5   6   7     8  9   10 11    12
0        Aguascalientes    1    2    3  <NA>   -   -   1  <NA>  -   -  -  <NA>
1       Baja California   45   30  121  <NA>   6   7   8  <NA>  3   1  9  <NA>
2   Baja California Sur   13    5   18  <NA>   2   2   3  <NA>  -   -  -  <NA>
3              Campeche   10    6   27  <NA>   2   1   2  <NA>  1   1  1  <NA>
4              Coahuila    2    8   42  <NA>   -   8   4  <NA>  -   -  -  <NA>
5                Colima   17   11   41  <NA>   -   2   2  <NA>  2   -  2  <NA>
6               Chiapas   20   12   31  <NA>   6   6   4  <NA>  1   1  1  <NA>
7             Chihuahua   43   25  116  <NA>   8  10   7  <NA>  2   1  5  <NA>
8      Distrito Federal  212  124  329  <NA>  10  11  16  <NA>  4   3  2  <NA>
9               Durango    9    6   30  <NA>   -   1   2  <NA>  -   -  -  <NA>
10           Guanajuato    4    -   10  <NA>   -   -   1  <NA>  -   -  1  <NA>
11             Guerrero   12   11   33  <NA>   3   6   6  <NA>  -   -  1  <NA>
12              Hidalgo   30   12   34  <NA>   5   5   7  <NA>  -   -  -  <NA>
13              Jalisco   33   22   50  <NA>   -   1   -  <NA>  -   -  1  <NA>
14               M√©xico  103   50  243  <NA>  19  34  22  <NA>  6  10  7  <NA>
15            Michoac√°n   33   23   73  <NA>   4   9   6  <NA>  1   3  2  <NA>
16              Morelos   27   21   99  <NA>   2   9   4  <NA>  1   -  1  <NA>
17              Nayarit   40   12   59  <NA>   3   4   2  <NA>  1   -  3  <NA>
18           Nuevo Le√≥n   57   38  123  <NA>   8  10   9  <NA>  3   6  6  <NA>
19               Oaxaca   17   10   32  <NA>   1   4   3  <NA>  1   3  -  <NA>
20               Puebla   13    7   22  <NA>   3   3   1  <NA>  -   -  -  <NA>
21            Quer√©taro    -    1    4  <NA>   -   -   -  <NA>  -   -  -  <NA>
22         Quintana Roo    9    9   19  <NA>   2   5   2  <NA>  -   1  1  <NA>
23      San Luis Potos√≠   26   10   47  <NA>   -   2   1  <NA>  1   1  1  <NA>
24              Sinaloa   40   19  109  <NA>  11  17  13  <NA>  3   4  8  <NA>
25               Sonora   32   19   87  <NA>   2  10   3  <NA>  5   8  4  <NA>
26              Tabasco   16    7   29  <NA>   2   2   2  <NA>  -   -  1  <NA>
27           Tamaulipas   61   24  126  <NA>   8  14  10  <NA>  1   2  6  <NA>
28             Tlaxcala    1    -    1  <NA>   -   -   -  <NA>  -   -  -  <NA>
29             Veracruz   73   30  125  <NA>   7   6   6  <NA>  -   1  2  <NA>
30              Yucat√°n    8   15   58  <NA>   -   1   3  <NA>  -   3  2  <NA>
31            Zacatecas   16   14   37  <NA>   -   1   -  <NA>  -   -  -  <NA>

WIDE: (32, 15)

,Anio,Semana,Entidad,Casos_semana_Depresi√≥n,Acumulado_hombres_Depresi√≥n,Acumulado_mujeres_Depresi√≥n,Acumulado_anio_anterior_Depresi√≥n,Casos_semana_Parkinson,Acumulado_hombres_Parkinson,Acumulado_mujeres_Parkinson,Acumulado_anio_anterior_Parkinson,Casos_semana_Alzheimer,Acumulado_hombres_Alzheimer,Acumulado_mujeres_Alzheimer,Acumulado_anio_anterior_Alzheimer
0,2014,05,Aguascalientes,1,2,3,<NA>,0,0,1,<NA>,0,0,0,<NA>
1,2014,05,Baja California,45,30,121,<NA>,6,7,8,<NA>,3,1,9,<NA>
2,2014,05,Baja California Sur,13,5,18,<NA>,2,2,3,<NA>,0,0,0,<NA>
3,2014,05,Campeche,10,6,27,<NA>,2,1,2,<NA>,1,1,1,<NA>
4,2014,05,Coahuila,2,8,42,<NA>,0,8,4,<NA>,0,0,0,<NA>
5,2014,05,Colima,17,11,41,<NA>,0,2,2,<NA>,2,0,2,<NA>
6,2014,05,Chiapas,20,12,31,<NA>,6,6,4,<NA>,1,1,1,<NA>
7,2014,05,Chihuahua,43,25,116,<NA>,8,10,7,<NA>,2,1,5,<NA>
8,2014,05,Distrito Federal,212,124,329,<NA>,10,11,16,<NA>,4,3,2,<NA>
9,2014,05,Durango,9,6,30,<NA>,0,1,2,<NA>,0,0,0,<NA>
10,2014,05,Guanajuato,4,0,10,<NA>,0,0,1,<NA>,0,0,1,<NA>
11,2014,05,Guerrero,12,11,33,<NA>,3,6,6,<NA>,0,0,1,<NA>
12,2014,05,Hidalgo,30,12,34,<NA>,5,5,7,<NA>,0,0,0,<NA>
13,2014,05,Jalisco,33,22,50,<NA>,0,1,0,<NA>,0,0,1,<NA>
14,2014,05,M√©xico,103,50,243,<NA>,19,34,22,<NA>,6,10,7,<NA>
15,2014,05,Michoac√°n,33,23,73,<NA>,4,9,6,<NA>,1,3,2,<NA>
16,2014,05,Morelos,27,21,99,<NA>,2,9,4,<NA>,1,0,1,<NA>
17,2014,05,Nayarit,40,12,59,<NA>,3,4,2,<NA>,1,0,3,<NA>
18,2014,05,Nuevo Le√≥n,57,38,123,<NA>,8,10,9,<NA>,3,6,6,<NA>
19,2014,05,Oaxaca,17,10,32,<NA>,1,4,3,<NA>,1,3,0,<NA>
20,2014,05,Puebla,13,7,22,<NA>,3,3,1,<NA>,0,0,0,<NA>
21,2014,05,Quer√©taro,0,1,4,<NA>,0,0,0,<NA>,0,0,0,<NA>
22,2014,05,Quintana Roo,9,9,19,<NA>,2,5,2,<NA>,0,1,1,<NA>
23,2014,05,San Luis Potos√≠,26,10,47,<NA>,0,2,1,<NA>,1,1,1,<NA>
24,2014,05,Sinaloa,40,19,109,<NA>,11,17,13,<NA>,3,4,8,<NA>
25,2014,05,Sonora,32,19,87,<NA>,2,10,3,<NA>,5,8,4,<NA>
26,2014,05,Tabasco,16,7,29,<NA>,2,2,2,<NA>,0,0,1,<NA>
27,2014,05,Tamaulipas,61,24,126,<NA>,8,14,10,<NA>,1,2,6,<NA>
28,2014,05,Tlaxcala,1,0,1,<NA>,0,0,0,<NA>,0,0,0,<NA>
29,2014,05,Veracruz,73,30,125,<NA>,7,6,6,<NA>,0,1,2,<NA>
30,2014,05,Yucat√°n,8,15,58,<NA>,0,1,3,<NA>,0,3,2,<NA>
31,2014,05,Zacatecas,16,14,37,<NA>,0,1,0,<NA>,0,0,0,<NA>

# **Consolidaci√≥n final (reshape "long" + concat de todos los archivos)**

**Objetivo:** convertir cada tabla procesada a formato "long" y unir todo en un solo DataFrame.

**Entrada:**
- `processed`: lista con dicts que ya incluyen `PAD`, `A√±o`, `Semana`, `Archivo`
- `col_map`: mapeo de columnas por padecimiento
- `reshape(df, year, week, col_map)`

**Proceso:**
- Para cada elemento en `processed`:
  - Aplica `reshape()` sobre `x["PAD"]`
  - Agrega columna `Archivo` para rastrear origen
- Concatena todo con `pd.concat(...)`

**Salida:**
- `df_all_long`: dataset consolidado (1 fila por Entidad + Padecimiento + Semana)

In [21]:
all_long = []  # aqu√≠ juntamos el DF "long" de cada archivo
for x in processed:
    df_long = reshape(x["PAD"], x["A√±o"], x["Semana"], col_map)  # PAD ya est√° limpio+estandarizado
    df_long["Archivo"] = x["Archivo"]  # trazabilidad
    all_long.append(df_long)

df_all_long = pd.concat(all_long, ignore_index=True)  # consolidado final
display(df_all_long)

/var/folders/0p/fpm4_3l94jxbbc__pnl93bmw0000gn/T/ipykernel_17515/1274023842.py:7: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_all_long = pd.concat(all_long, ignore_index=True)  # consolidado final

,Archivo,Anio,Semana,Entidad,Padecimiento,Casos_semana,Acumulado_hombres,Acumulado_mujeres,Acumulado_anio_anterior
0,2014_sem05.pdf,2014.0,05,Aguascalientes,Depresi√≥n,1,2.0,3.0,NaN
1,2014_sem05.pdf,2014.0,05,Aguascalientes,Parkinson,0,0.0,1.0,NaN
2,2014_sem05.pdf,2014.0,05,Aguascalientes,Alzheimer,0,0.0,0.0,NaN
3,2014_sem05.pdf,2014.0,05,Baja California,Depresi√≥n,45,30.0,121.0,NaN
4,2014_sem05.pdf,2014.0,05,Baja California,Parkinson,6,7.0,8.0,NaN
...,...,...,...,...,...,...,...,...,...
763,2025_sem48.pdf,2025.0,48,Yucat√°n,Parkinson,2,97.0,72.0,139.0
764,2025_sem48.pdf,2025.0,48,Yucat√°n,Alzheimer,1,7.0,9.0,30.0
765,2025_sem48.pdf,2025.0,48,Zacatecas,Depresi√≥n,52,519.0,1820.0,2647.0
766,2025_sem48.pdf,2025.0,48,Zacatecas,Parkinson,1,19.0,22.0,22.0
767,2025_sem48.pdf,2025.0,48,Zacatecas,Alzheimer,0,5.0,6.0,13.0

# **Conclusiones**

Este notebook permiti√≥ construir una base s√≥lida para transformar los PDFs del Bolet√≠n Epidemiol√≥gico en un dataset estructurado y reutilizable. A lo largo del proceso se confirm√≥ que, aunque la fuente es oficial y se publica semanalmente, el formato no es completamente uniforme entre a√±os, por lo que es indispensable aplicar reglas de estandarizaci√≥n antes de cualquier an√°lisis.

Se automatiz√≥ la detecci√≥n de la p√°gina relevante y la extracci√≥n de `A√±o` y `Semana` mediante estrategias robustas (regex alternativas), lo cual es clave para mantener trazabilidad temporal y permitir actualizaciones continuas. Tambi√©n se normalizaron valores num√©ricos con distintos formatos (millares con comas o espacios, guiones que representan ceros y valores no existentes), evitando errores silenciosos y asegurando consistencia en el dataset final.

Adicionalmente, se resolvi√≥ el problema de tablas incompletas en ciertos a√±os (sin columna de "Acumulado a√±o anterior") mediante relleno controlado con `NA`, garantizando un esquema est√°ndar que permite consolidaci√≥n y comparaci√≥n entre periodos. Finalmente, el reshaping en formato **wide** y **long** permiti√≥ tanto validar visualmente contra el PDF como preparar un dataset adecuado para an√°lisis longitudinal y modelado predictivo.

Es importante destacar que este notebook representa los **cimientos t√©cnicos** sobre los cuales est√° construida nuestra **GUI**, ya que concentra la l√≥gica esencial de extracci√≥n, limpieza y transformaci√≥n. La GUI fue desarrollada pensando en un proyecto m√°s formal y mantenible, no limitado a Google Colab, sino dise√±ado para vivir dentro de un **repositorio en GitHub**, con estructura ordenada, versionamiento, documentaci√≥n y capacidad de actualizaci√≥n continua conforme se publique nueva informaci√≥n.

En esta etapa el objetivo fue extraer la informaci√≥n lo m√°s apegada posible al bolet√≠n original. A√∫n queda trabajo por realizar en limpieza avanzada y validaciones de consistencia, pero el pipeline ya deja listo el camino para iniciar an√°lisis m√°s profundos y, posteriormente, modelos de series de tiempo con datos actualizados semana a semana.

# **Key Highlights**

- Este notebook establece los **cimientos del pipeline** (PDF ‚Üí tabla ‚Üí dataset) sobre los que se construy√≥ la GUI.
- Se logr√≥ detectar **p√°gina correcta + A√±o/Semana** de forma robusta usando **2 regex alternativos**.
- Se normalizaron inconsistencias t√≠picas del bolet√≠n: **millares con comas/espacios**, `"-"` como **0**, y `"n.e."` como **NA**.
- Se estandariz√≥ el esquema entre a√±os rellenando la columna faltante de **"Acumulado a√±o anterior"** con `NA`.
- Se generaron dos vistas: **wide** para validar contra el PDF y **long** para consolidaci√≥n y an√°lisis.
- La soluci√≥n qued√≥ lista para **actualizaci√≥n semanal** conforme se publique nueva informaci√≥n.
- El dise√±o est√° pensado para vivir en un **repo en GitHub**, mantenible y ordenado, como parte del entregable.